:root {
  --white: hsl(0, 0%, 100%);
  --lgray: hsl(212, 45%, 89%);
  --gblue: hsl(220, 15%, 55%);
  --dblue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: outfit, serif;
  background: var(--lgray);
  text-align: center;
  font-size: 1.6rem;
}

.main {
  max-width: 90%;
  background: var(--white);
  border-radius: .8em;
  padding: 1.2em;
  margin: 60% auto;
}

.main>img {
  width: 100%;
  display: block;
  border-radius: .8em;
}

h1 {
  font-size: 2.2rem;
  color: var(--dblue);
  font-weight: 700;
}

.main>p {
  color: var(--gblue);
  font-size: 1.5rem;
  padding: 0 .9em;
}

@media (min-device-width: 90em) {  
  
  body {
    padding: 0;
    margin: 0;
  }  
  
  .main {
      max-width: 22%;
          position: absolute;
          top: 50%;
          left: 40vw;
          transform: translateY(-50%);
          margin: 0;
    }
}